#box {
    width: 200px;
    height: 200px;
    display: flex;
    transition: all 2s;
    background-color: rgb(175, 37, 244);
}

#box:hover {
    width: 400px;
    height: 400px;
    background-color: rgb(43, 43, 252);
    background: linear-gradient(to right, red 33%, white 33%, white 65%, red 40%);
    border: 1px black solid;
    border-radius: 10%;
    transform: translate(200px, 200px);
    transition: all 2s;
}