h1 {
    /*font-family: cambiar fuente*/
    font-family: 'Yantramanav';
    font-size: 35px;
    /* ! Importante: No poner unidades de medida al usar font-weidth*/
    font-weight: 100;
    text-decoration: underline;
}

/* * Nota:
    * 700 = bold
    * 900 = bolder
   */

.parrafo {
    font-family:'Staatliches';
    /*font-size: manejar el tamaño del texto*/
    font-size: 50px;
    /*font-weight: cambiar el peso a la letra*/
    font-weight: bolder;
}

.link-a {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Al poner none invalidamos el text-decoration*/
    text-decoration: none;
    /* Hexadecimal es una forma de poner colores con 6 numeros*/
    color: rgb(0, 122, 252);
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    background-color: rgb(0, 122, 252, 0.2);
}

.span-1 {
    text-decoration: line-through;
    text-transform: capitalize;
}

.span-2 {
    text-decoration: overline;
}

.span-3 {
    text-decoration: underline;
    text-transform: uppercase;
}

.span-4 {
    text-decoration: line-through;
    text-decoration-color: red;
}

.span-5 {
    text-decoration: overline;
    background-color: rgb(140, 48, 205);
    text-decoration-color: aliceblue;
}

/* lowercase = minusculas
   uppercase = mayusculas
   capitalize = primera del text en mayuscula
   */

.span-6 {
    color: navy;
    text-decoration: underline;
    background-color: darkorange;
    text-decoration-color: dimgray;
}

/* Para que CSS pueda leer una fuente desde un archivo
tenemos que @font-face esto nos permoite cargar una fuente externa y ponerle
un nombre para su uso */

@font-face {
    /* En este caso font-family es el nombre de la fuente */
    font-family: "Handlee";
    /* src= Es el lugar donde esta alojado la fuente */
    /* .. = Es lo mismo que retroceder una carpeta */
    src: url(../fonts/Handlee-Regular.ttf);
}

@font-face {
    font-family: "Tangerine";
    src: url(../fonts/Tangerine-Bold.ttf);
}

@font-face {
    font-family: "Tapestry";
    src: url(../fonts/Tapestry-Regular.ttf);
}

.title-2 {
    font-family: "Tangerine";
    font-size: 50px;
    font-weight: 600;
    color: rgb(51, 255, 0);
    text-decoration: underline;
}

.parrafo-2 {
    font-family: "Tapestry";
}
